@use 'theme' as theme;

.toolbar {
  padding: 1rem;

  .topRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    .inputGroup {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.25rem;
        font-size: 14px;
      }

      input {
        padding: 0.5rem;
        background: white;
        border: 1px solid theme.$secondary;
        border-radius: 4px;
        transition: box-shadow 150ms;
        font-size: 16px;

        &:hover,
        &:focus-visible {
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }
      }
    }
  }

  .bottomRow {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
      display: flex;

      .button {
        padding: 0.5rem 1rem;
        background: theme.$primary;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        transition: box-shadow 150ms;
        font-size: 14px;

        &:hover,
        &:focus-visible {
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }

        &:first-child {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
